::-webkit-scrollbar {
  display: none
}

.header{
  background-color: black;
  font-size: 48px;
  color: white;
  padding: 20px;
  text-align: center;
}

.wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
  padding: 25px;
}

.image{
  height: 400px;
  padding:20px;
  background-color: white;
}

.item-price{
  font-size: 24px;
  margin-top: 10px;
}

.item-name{
  font-size: 30px;
  margin-top: 20px;
}

.footer{
  background-color: black;
  color:white;
  font-size: 47px;
  text-align: center;
  padding:50px;
}